* {
  background-color: #000000;
  text-color: #FFFFFF;
  spacing: 0;
  width: 30%;
}

inputbar {
  children: [prompt,entry];
}

prompt {
  padding: 16px;
}

textbox {
  background-color: #2e343f;
  padding: 8px 16px;
}

entry {
  padding: 16px;
}

listview {
  cycle: true;
  margin: 0 0 -1px 0;
}

element {
  padding: 16px;
}

element selected {
  background-color: #FFFFFF;
	text-color: #000000;
}
